In [2]:
5+10

15

In [3]:
10-5

5

In [4]:
10*5

50

In [5]:
10/5

2.0

In [6]:
5%10

5

#Sneha basic python

In [7]:
a=45
a

45

In [8]:
a+5

50

In [9]:
a==45

True

In [10]:
type(a)

int

In [11]:
b=3.4
type(b)

float

In [12]:
c=sneha
type(c)

NameError: name 'sneha' is not defined

In [13]:
c = "sneha"
type(c)

str

In [14]:
d= True
type(d)

bool

In [15]:
#these are all the datatypes

In [16]:
a==b

False

In [17]:
a=50
b=90
a>=b

False

In [18]:
a<=b

True

In [19]:
a+c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
c+c

'snehasneha'

In [21]:
a*c

'snehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasnehasneha'

In [22]:
c+d

TypeError: can only concatenate str (not "bool") to str

In [23]:
c=sneha
d=deshmukh
c+ d

NameError: name 'sneha' is not defined

In [24]:
c = "sneha"
d = " deshmukh"
c+d

'sneha deshmukh'

In [25]:
3a= 1

SyntaxError: invalid decimal literal (<ipython-input-25-b69ee7733339>, line 1)

In [26]:
a3 =1

In [27]:
a3 +b

91

In [28]:
@b = 3

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-28-ca2ac15b0768>, line 1)

In [29]:
b5 = 6

In [30]:
a3 + b5

7

In [31]:
import pandas as pd

In [32]:
pd.read_csv('/content/car_price_dataset.csv')

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,Kia,Optima,2004,3.7,Diesel,Semi-Automatic,5794,2,4,8884
9996,Chevrolet,Impala,2002,1.4,Electric,Automatic,168000,2,1,6240
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866
9998,Ford,Explorer,2002,1.4,Hybrid,Automatic,225772,4,1,4084
9999,Volkswagen,Tiguan,2001,2.1,Diesel,Manual,157882,3,3,3342

In [33]:
pd.read_csv("/content/disney_princess_popularity_dataset_300_rows.csv")

,PrincessName,FirstMovieTitle,FirstMovieYear,MovieRuntimeMinutes,NumberOfSongs,HasSoloSong,HasDuet,HairColor,EyeColor,OutfitPrimaryColor,...,RottenTomatoesScore,BoxOfficeMillions,AvgScreenTimeMinutes,NumMerchItemsOnAmazon,GoogleSearchIndex2024,InstagramFanPages,TikTokHashtagViewsMillions,Top3Hashtags,IsIconic,PopularityScore
0,Pocahontas,Pocahontas's Adventure,1977,85,4,No,Yes,Brown,Green,Pink,...,88,661,25,2524,68,298,481,#TeamPocahontas #LovePocahontas #PocahontasFor...,Yes,88
1,Mulan,Mulan's Adventure,1995,85,1,Yes,Yes,Blonde,Brown,Purple,...,91,688,52,4202,49,133,619,#TeamMulan #LoveMulan #MulanForever,Yes,78
2,Raya,Raya's Adventure,1989,110,4,No,No,Blonde,Hazel,Pink,...,76,790,54,525,68,129,230,#TeamRaya #LoveRaya #RayaForever,No,53
3,Anna,Anna's Adventure,1940,78,1,No,No,Brown,Grey,Green,...,70,820,42,1951,73,138,697,#TeamAnna #LoveAnna #AnnaForever,Yes,84
4,Mulan,Mulan's Adventure,1943,103,7,No,Yes,White,Brown,Green,...,86,996,55,3958,34,155,200,#TeamMulan #LoveMulan #MulanForever,Yes,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Merida,Merida's Adventure,2001,95,7,Yes,No,Red,Grey,Purple,...,89,309,49,3638,98,225,881,#TeamMerida #LoveMerida #MeridaForever,No,95
296,Belle,Belle's Adventure,2006,76,1,Yes,No,Red,Green,Yellow,...,97,406,53,1558,33,270,274,#TeamBelle #LoveBelle #BelleForever,No,96
297,Anna,Anna's Adventure,2020,70,2,No,Yes,White,Blue,Blue,...,72,935,25,1815,53,53,164,#TeamAnna #LoveAnna #AnnaForever,Yes,67
298,Tiana,Tiana's Adventure,1937,71,7,No,No,Red,Blue,Purple,...,86,463,54,2365,35,116,584,#TeamTiana #LoveTiana #TianaForever,No,76
299,Mulan,Mulan's Adventure,1938,105,3,No,No,Brown,Brown,Purple,...,77,195,42,2218,89,11,540,#TeamMulan #LoveMulan #MulanForever,No,69

In [34]:
pd.read_csv("/content/Mall_Customers.csv")

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [35]:
pd.read_csv('/content/Iris.csv')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica